/lib
/test
/.vscode
/dist/*
/bundle/*
/gulpfile/*
/unit/image
!/dist/*.md
!/bundle/*.md
/node_modules
/package-lock.json
/example/develop/*
/example/produce/*
!/gulpfile/temporary/*
!/example/develop/index.html
!/example/produce/index.html
