/*
* @Author:             wolf
* @Email:              dd112389@gmail.com
* @Date:               2020-09-01 00:17:47
* @Description         ModalLayer默认皮肤样式
*
* @Last Modified by:   wolf
* @Last Modified time: 2020-12-02 00:53:10
*/

.modal-layer-skin-default {
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
}

.modal-layer-skin-default.modal-layer-mask {
  background: rgba(0, 0, 0, 0.3);
}

.modal-layer-skin-default.modal-layer-container {
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 25px rgba(255, 255, 255,.3);
}

.modal-layer-skin-default#modal-layer-minimize-queue {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.modal-layer-skin-default#modal-layer-minimize-queue > .modal-layer-minimize-queue-item {
  height: 100%;
  background: white;
  box-shadow: 0px 0px 5px 1px #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.modal-layer-skin-default#modal-layer-minimize-queue > .modal-layer-minimize-queue-item:not(:first-child):last-child {
  margin-right: 8%;
}

.modal-layer-skin-default .modal-layer-minimize-queue-item > .modal-layer-minimize-queue-item-title {
  color: #444;
  margin: 0px 1em;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
  text-overflow: ellipsis;
}

.modal-layer-skin-default > .modal-layer-title {
  font-size: 0.9em;
  background: #f8f8f8;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.modal-layer-skin-default[allow-drag="1"] > .modal-layer-title{
  cursor: move;
}

.modal-layer-skin-default .modal-layer-title-content {
  flex: 4;
  color: #444;
  font-size: 1em;
  overflow: hidden;
  min-height: 1rem;
  padding: 12px 2px;
  margin-left: 20px;
  font-weight: normal;
  white-space: nowrap;
  box-sizing: content-box;
  text-overflow: ellipsis;

  /*user agent stylesheet*/
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.modal-layer-skin-default .modal-layer-action {
  padding: 14px 0px;
  margin-right: 20px;
  justify-content: flex-end;
}

.modal-layer-skin-default .modal-layer-action > .modal-layer-action-btn {
  color: #666;
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
}

.modal-layer-skin-default .modal-layer-action-btn {
  cursor: pointer;
}

.modal-layer-skin-default[modal-layer-type=tips] {
  background: rgb(0, 0, 0);
}
.modal-layer-skin-default[modal-layer-type=tips] > .modal-layer-content {
  color: aliceblue;
}
.modal-layer-skin-default[modal-layer-type=tips] > .depend-icon {
  width: 0px;
  height: 0px;
  margin: auto;
  position: absolute;
  border: 0px solid transparent;
}
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-top,
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-bottom {
  left: 0px;
  right: 0px;
}
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-top {
  top: 0px;
  border-width: 0px 20px 20px 20px;
  border-bottom-color: rgb(7, 7, 7);
}
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-bottom {
  bottom: 0px;
  border-width: 20px 20px 0px 20px;
  border-top-color: rgb(7, 7, 7);
}
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-width: 20px 20px 20px 0px;
  border-right-color: rgb(7, 7, 7);
 
}
.modal-layer-skin-default[modal-layer-type=tips] > .triangle-right {
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-width: 20px 0px 20px 20px;
  border-left-color: rgb(7, 7, 7);
  
}


.modal-layer-skin-default[modal-layer-type=loading] > .modal-layer-content {
  height: 100%;
}

.modal-layer-skin-default[modal-layer-type=loading] .modal-layer-loading-box {
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
}

.modal-layer-skin-default[modal-layer-type=page] > .modal-layer-content {
  font-size: 0px;
}

.modal-layer-skin-default[modal-layer-type=image] > .modal-layer-content {
  height: 100%;
  display: flex;
  font-size: 0px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.modal-layer-skin-default > .modal-layer-toolbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-layer-toolbar > .modal-layer-toolbar-item {
  flex: 1;
  flex-grow: 0;
  font-size: 0px;
  position: relative;
}

.modal-layer-toolbar-item > .modal-layer-toolbar-item-icon {
  color: gray;
  padding: 10px;
}

.modal-layer-toolbar-item > .modal-layer-toolbar-item-icon:hover {
  color: white;
  background: rgba(0, 0, 0, .15);
}

.modal-layer-toolbar-item > .modal-layer-toolbar-item-child-list {
    top: 0px;
    left: 50%;
    opacity: 0;
    height: 68%;
    font-size: 16px;
    padding: 0px 6px;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, .4);
    border-radius: 0px 0px 2px 2px;
}

.modal-layer-toolbar-item-child-list > .modal-layer-toolbar-filter-icon {
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  font-family: 'FangSong';
  transition: background .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.modal-layer-toolbar-item-child-list > .modal-layer-toolbar-filter-icon:hover {
  background: rgba(255, 255, 255, 0.25);
}

.modal-layer-toolbar-item:hover > .modal-layer-toolbar-item-child-list {
  display: flex;
  visibility: visible;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: filterChild .2s ease;
  animation-fill-mode:forwards;
}

.modal-layer-skin-default > .modal-layer-content {
  color: black;
  font-size: 0.9em;
  margin: 24px 20px;
  position: relative;
}

.modal-layer-skin-default > .modal-layer-interaction {
  margin: 0px 20px;
  text-align: right;
  padding: 0px 0px 10px 0px;
}

.modal-layer-skin-default .modal-layer-interaction-btn {
  flex: 0.4;
  color: #333;
  cursor: pointer;
  padding: 5px 0px;
  font-size: 0.85em;
  background: white;
  border-radius: 2px;
  text-align: center;
  white-space: normal;
  word-break: break-all;
  margin: 2px 0px 2px 10px;
  border: 1px solid #dedede;
  -webkit-filter: saturate(0.9);
  -o-filter: saturate(0.9);
  filter: saturate(0.9);
}

.modal-layer-skin-default .modal-layer-interaction-btn-ok {
  color: white;
  background: #1e9fff;
  border-color: #1e9fff;
}

.modal-layer-skin-default .modal-layer-interaction-btn-no {
  color: white;
  background: #d9534f;
  border-color: #d9534f;
}

.modal-layer-skin-default .modal-layer-interaction-btn:hover {
  -webkit-filter: saturate(1.25);
  -o-filter: saturate(1.25);
  filter: saturate(1.25);
}

.modal-layer-skin-default[modal-layer-type=alert] > .modal-layer-interaction,
.modal-layer-skin-default[modal-layer-type=prompt] > .modal-layer-interaction,
.modal-layer-skin-default[modal-layer-type=confirm] > .modal-layer-interaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-layer-skin-default .modal-layer-progress-bar-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.modal-layer-skin-default .modal-layer-progress-bar-progress {
  display: block;
  background: deepskyblue;
}

.modal-layer-skin-default .modal-layer-progress-bar[progress-bar-position=top] .modal-layer-progress-bar-progress,
.modal-layer-skin-default .modal-layer-progress-bar[progress-bar-position=bottom] .modal-layer-progress-bar-progress {
  width: 0px;
  height: 100%;
}

.modal-layer-skin-default .modal-layer-progress-bar[progress-bar-position=left] .modal-layer-progress-bar-progress,
.modal-layer-skin-default .modal-layer-progress-bar[progress-bar-position=right] .modal-layer-progress-bar-progress {
  width: 100%;
  height: 0px;
}
