/*
* @Author:             wolf
* @Email:              dd112389@gmail.com
* @Date:               2020-09-01 01:12:28
* @Description         预设动画
*
* @Last Modified by:   wolf
* @Last Modified time: 2020-12-21 05:20:25
*/

/**
 * 宽度变化
 */
@keyframes widthFull {
  from {width: 0px;}
  to {width: 100%;}
}

/**
 * 高度变化
 */
@keyframes heightFull {
  from {height: 0px;}
  to {height: 100%;}
}

/**
 * 图片层滤镜
 */
@keyframes filterChild {
  from {
    top: 0px;
    opacity: 0;
    z-index: -1;
  }
  to {
    top: 100%;
    opacity: 1;
    z-index: 2;
  }
}
