/*
* @Author:             wolf
* @Email:              dd112389@gmail.com
* @Date:               2020-09-01 01:12:28
* @Description         预设动画
*
* @Last Modified by:   wolf
* @Last Modified time: 2020-12-10 00:47:06
*/

/**
 * 宽度变化
 */
@keyframes widthFull {
  from {width: 0px;}
  to {width: 100%;}
}

/**
 * 高度变化
 */
@keyframes heightFull {
  from {height: 0px;}
  to {height: 100%;}
}
